*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

body{
    position: fixed;
    top: 0;
    background-color: #000000;
    height: 98vh;
    display: grid;
    grid-template-rows: 64px 1fr;
}

.navbar{
    min-width: 800px;
    max-width: 100%;
    height: 64px;
    justify-content: center;
    background-color: #000000;
}
.home-search{
    width: 870px;
    height: 48px;
}

.logo{
    width: 64px;
    height: 64px;
    padding: 4px;
    margin: 0 10px;
}
.logo img{
    width: 32px;
    height: 32px;
}

#home-button{
    width: 48px;
    height: 48px;
    background-color: #1f1f1f;
    border-radius: 100%;
    border: none;
}

#home-button img{
    width: 50%;
    height: auto;
}


.search-bar{
    width: 474px;
    height: 48px;
    border-radius: 30px;
    background-color: #1f1f1f;
    border: none;
    margin: 0 7px;
    padding: 3px;
}

.search-bar input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: transparent;
}

.search-bar:hover{
    /* transform: scale(1.02); */
    box-shadow: 0 1px 0 rgba(255,255,255,0.2);
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    background-color: #2a2a2a;
}

.search-bar input::placeholder{
    font: 500;
    font-size: 16px;
    color: #b3b3b3;
    background-color: transparent;
}

button.search{
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    margin-left:10px;
}

button.browse{
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    margin: 0 10px;
    /* border-left: 1px solid #b3b3b3; */
}


.auth{
    position: relative;
    right: 2px;
    width: 580px;
    height: 57px;
}

.signup{
    width: 75px;
    height: 33px;
    background-color: transparent;
    color: #b3b3b3;
    font-weight: 600;
    border: none;
    font-size: 13px;
}

.login{
    width: 108px;
    height: 48px;
    border-radius: 30px;
    font-weight: 700;
    font-size: 16px;
    background-color: white;
    color: black;
}

#home-button:hover {
    background-color: #2a2a2a;
    cursor: pointer;
}

.signup:hover{
    transform: scale(1.04);
    transition-timing-function: ease-in-out;
    cursor: pointer;
    color: white;
}

.login:hover{
    transform: scale(1.04);
    transition-timing-function: ease-in-out;
    cursor: pointer;
    background-color: #efe5e5;
}

.container{
    flex: 1;
    width: 100vw;
    height: 100%;
}

.left{
    /* position: relative; */
    min-width: 300px;
    max-width: 28vw;
    height: 100%;
    padding: 10px;
}
img{
    cursor: pointer;
}
button{
    cursor: pointer;
}
.right{
    min-width: 700px;
    max-width: 72vw;
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
}

.left .header{
    width: 95%;
    height: 10%;
    padding-top: 10px;
}

.left .header img{
    width: 15px;
    height: auto;
}

.left .cards{
    width: 100%;
    height: auto;
    overflow-y: auto;
}
.card{
    width: 100%;
    min-height: 134px;
    flex-wrap: wrap;
}

.left .card .txt{
    gap: 10px;
}

.card-btn{
    width: 125px;
    height: 32px;
    border-radius: 50px;
    border: none;
}

.footer{
    width: 100%;
    height: auto;
    margin-top: 30px;
}
.links{
    width: 90%;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 11px;
    line-height: 1.5;
}

.links span{
    color: #b3b3b3;
    cursor: pointer;
}

.links2{
    width: 90%;
    height: auto;
    font-size: 12px;
    line-height: 2.5;
    color: #b3b3b3;
}

.card-btn:hover{
    transform: scale(1.04);
    transition-timing-function: ease-in-out;
    cursor: pointer;
    background-color: #efe5e5;
}

.footer-btn{
    width: 104px;
    height: 32px;
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid #b3b3b3;
    gap: 10px;
}

.footer-btn img{
    width: 16px;
    height: 16px;
}
.footer-btn:hover{
    transform: scale(1.04);
    transition-timing-function: ease-in-out;
    cursor: pointer;
    background-color: #efe5e5;
}