@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: white;
}

body {
  position: fixed;
  top: 0;
  background-color: #000000;
  height: 98vh;
  display: grid;
  grid-template-rows: 64px 1fr;
}

.navbar {
  min-width: 800px;
  max-width: 100%;
  height: 64px;
  justify-content: center;
  background-color: #000000;
}
.home-search {
  width: 870px;
  height: 48px;
}



.logo {
  width: 64px;
  height: 64px;
  padding: 4px;
  margin: 0 10px;
}
.logo img {
  width: 32px;
  height: 32px;
}

#home-button {
  width: 48px;
  height: 48px;
  background-color: #1f1f1f;
  border-radius: 100%;
  border: none;
}

#home-button img {
  width: 50%;
  height: auto;
}

.search-bar {
  width: 474px;
  height: 48px;
  border-radius: 30px;
  background-color: #1f1f1f;
  border: none;
  margin: 0 7px;
  padding: 3px;
}

.search-bar input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: transparent;
}

.search-bar:hover {
  /* transform: scale(1.02); */
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  background-color: #2a2a2a;
}

.search-bar input::placeholder {
  font: 500;
  font-size: 16px;
  color: #b3b3b3;
  background-color: transparent;
}

button.search {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  margin-left: 10px;
}

button.browse {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  margin: 0 10px;
  /* border-left: 1px solid #b3b3b3; */
}

.auth {
  position: relative;
  right: 2px;
  width: 580px;
  height: 57px;
}

.signup {
  width: 75px;
  height: 33px;
  background-color: transparent;
  color: #b3b3b3;
  font-weight: 600;
  border: none;
  font-size: 13px;
}

.login {
  width: 108px;
  height: 48px;
  border-radius: 30px;
  font-weight: 700;
  font-size: 16px;
  background-color: white;
  color: black;
}

#home-button:hover {
  background-color: #2a2a2a;
  cursor: pointer;
}

.signup:hover {
  transform: scale(1.04);
  transition-timing-function: ease-in-out;
  cursor: pointer;
  color: white;
}

.login:hover {
  transform: scale(1.04);
  transition-timing-function: ease-in-out;
  cursor: pointer;
  background-color: #efe5e5;
}

.container {
  flex: 1;
  width: 100vw;
  height: calc(100vh - 70px);
}

.left {
  position: relative;
  min-width: 300px;
  max-width: 28vw;
  height: 100%;
  padding: 10px;
}
img {
  cursor: pointer;
}
button {
  cursor: pointer;
}
.right {
  /* min-width: 700px; */
  position: relative;
  width: 72vw;
  height: 100%;
  overflow-y: auto;
  overflow-x: auto;
}

.left .header {
  width: 95%;
  height: 10%;
  padding-top: 10px;
}

.left .header img {
  width: 15px;
  height: auto;
}

.left .library-songs {
  width: 100%;
  height: 380px;
  overflow-y: auto;
  gap: 5px;
}

.library-songs .library-song {
  position: relative;
  width: 100%;
  height: 48px;
  background-color: #1d1d1d;
  padding: 0 2px;
  gap: 10px;
  border-radius: 5px;
}

.library-song .song-img img {
  object-fit: cover;
  width: 45px;
  border-radius: 5px;
}
.song-info {
  flex: 1;
  min-width: 0; /* allows content to shrink without overflow */
}

.library-play-btn img:hover {
  transform: scale(1.1);
}
.singers {
  flex: 1;
  min-width: 0;
  overflow: hidden;
}

.library-song.active {
  background-color: rgba(255, 255, 255, 0.1); /* Light highlight */
  border-left: 4px solid #1db954; /* Spotify green */
  transition: background-color 0.3s;
}

.singers span {
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.library-play-btn {
  width: 45px;
  height: 45px;
  position: absolute;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  border-radius: 5px;
}

.library-song:hover .library-play-btn {
  opacity: 1;
  background-color: #0000005d;
  pointer-events: auto;
}

.library-play-btn img {
  width: 25px;
  height: 25px;
}

.left .cards {
  width: 100%;
  height: auto;
  overflow-y: auto;
}
.card {
  width: 100%;
  /* min-height: 134px; */
  flex-wrap: nowrap;
  gap: 10px;
}

.left .card .txt {
  gap: 10px;
}

.card-btn {
  width: 125px;
  height: 32px;
  border-radius: 50px;
  border: none;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  margin-top: 30px;
}
.links {
  width: 90%;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 11px;
  line-height: 1.5;
}

.links span {
  color: #b3b3b3;
  cursor: pointer;
}

.links2 {
  width: 90%;
  height: auto;
  font-size: 12px;
  line-height: 2.5;
  color: #b3b3b3;
}

.card-btn:hover {
  transform: scale(1.04);
  transition-timing-function: ease-in-out;
  cursor: pointer;
  background-color: #efe5e5;
}

.footer-btn {
  width: 104px;
  height: 32px;
  background-color: transparent;
  border-radius: 50px;
  border: 1px solid #b3b3b3;
  gap: 10px;
}

.footer-btn img {
  width: 16px;
  height: 16px;
}
.footer-btn:hover {
  transform: scale(1.04);
  transition-timing-function: ease-in-out;
  cursor: pointer;
  background-color: rgba(213, 225, 237, 0.2);
}

.songs {
  position: relative;
  width: 92%;
  height: auto;
}

.song-cards {
  position: relative;
  width: 100%;
  height: 300px;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.song-card {
  width: 200px;
  height: auto;
  padding: 10px;
  border-radius: 10px;
}

.song-card:hover {
  background: linear-gradient(
    to bottom,
    rgba(0, 123, 255, 0) 0%,
    rgba(244, 246, 248, 0.05) 100%
  );
}

.cover-img {
  position: relative;
}

.cover {
  width: 172px;
  height: 172px;
  border-radius: 10px;
  justify-content: left;
  align-items: flex-start;
}

.play-btn {
  position: absolute;
  bottom: 0;
  right: 10px;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1ed760;
  opacity: 0;
  pointer-events: none;
  transform: translateY(0);
  /* transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out,  background-color 0.3s ease-in-out; */
  transition: all 0.3s ease-in-out;
}

.cover-img:hover .play-btn {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(-25%);
  box-shadow: 1px 1px 15px #053617;
}
.play-btn:hover {
  transform: translateY(-25%) scale(1.04) !important;
  background-color: #1db954;
}
.play-btn img {
  bottom: 0;
  width: 25px;
  height: 25px;
  pointer-events: none;
}

.navarr {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  z-index: 100;
  background-color: #2a2a2a;
  opacity: 0;
  pointer-events: none;
  border: none;
  transition: opacity 0.3s ease-in-out;
}
.songs:hover .navarr {
  opacity: 0.8;
  pointer-events: auto;
}

.navarr:hover {
  transform: scale(1.1);
}

.left-arr {
  position: absolute;
  top: 50%;
}

.right-arr {
  position: absolute;
  top: 50%;
  right: 0;
}

.navarr img {
  width: 16px;
  height: 16px;
}

.description {
  margin: 5px 0;
  gap: 10px;
}

.singer span,
span > * {
  color: #b3b3b3;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.right .player {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: #412d2d;
  gap: 10px;
}

.player button {
  background-color: transparent;
  border: none;
}

.player button img {
  height: 30px;
}

.navigator {
  width: 60%;
  height: 100%;
  gap: 10px;
}
.controls{
  gap: 5px;
}

.curr-song {
  gap: 10px;
  min-width: 100px;
  width: 40%;
  margin: 0 5px;
}

.curr-song .curr-song-img img {
  border-radius: 10px;
  height: 60px;
  outline: 2px solid white; /* or any contrasting color */
  outline-offset: -5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.curr-song-name span {
  font-weight: bold;
  font-size: 1.2rem;
}

.curr-song-info {
  max-width: 300px;
  flex-shrink: 1;
}

.curr-song-singers {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  display: flex;
  align-items: center;
  min-width: 0;
  margin-top: 2px;
}

.curr-song-singers span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  min-width: 0;
  color: #b3b3b3;
}

.curr-song-singers a {
  margin-right: 3px;
}


.progress-bar-wrapper{
  position: absolute;
  top: -5px;
  left:0;
  width: 100%;
  height: 5px;
  background-color: #000000;
  flex-grow: 1;
  overflow: hidden;
  cursor: pointer;
}

.progress-bar{
  width: 0%;
  height: 100%;
  background-color: white;
  transition: width 0.1s linear;
}

.progress-bar-wrapper:hover {
    height: 6px; 
}

.progress-bar-wrapper:hover .progress-bar {
    background-color: #1db954;
}